.result {
  margin: 30px 0;
  & p {
    margin: 0;
    font-size: 70px;
    font-weight: $font-weight-poppins-bold;
    & span {
      color: $Purple;
      font-weight: $font-weight-poppins-extra-bold;
    }
  }
}
