// ## Colors
// ### Primary
$Purple: hsl(259, 100%, 65%);
$LightRed: hsl(0, 100%, 67%);

// ### Neutral
$White: hsl(0, 0%, 100%);
$OffWhite: hsl(0, 0%, 94%);
$LightGrey: hsl(0, 0%, 86%);
$SmokeyGrey: hsl(0, 1%, 44%);
$OffBlack: hsl(0, 0%, 8%);

// ### Font
$font-family-poppins: "Poppins", sans-serif;

// ### Font-weight
$font-weight-poppins-regular: 400;
$font-weight-poppins-bold: 700;
$font-weight-poppins-extra-bold: 800;
